button{
    padding: 10px 25px;
    font-size: large;
    background-color: white;
    border-color: lightgrey;
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
}
.dark{
    background-color: grey;
    border-color: white;
    color: white;
}