div{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    height: 5vh;
    border-bottom: 1px solid lightgrey;
    white-space: nowrap;
}
h1{
    font-size: 3.5vh;
    overflow-x: hidden;
    overflow-y: visible;
    text-overflow: ellipsis;
}

.dark{
    background: black;
    color: white;
    border-bottom: 1px solid grey;
}