div{
    padding: 20px 60px;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    border-top: 1px solid lightgrey ;
}

.dark{
    background-color: black;
    border-top: 1px solid grey ;
}