div{
    padding: 20px 60px;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;
    max-height: 25vh;
    min-height: 150px;
}
.dark{
    background-color: rgb(40, 40, 40);
}