<div [ngClass]="{'dark':dark}">
    <app-input [placeholder]="'Test Input'"   [dark] ='dark'></app-input>
    <app-input [placeholder]="'Test Input 1'" [dark] ='dark'></app-input>
    <app-input [placeholder]="'Test Input 2'" [dark] ='dark'></app-input>
    <app-input [placeholder]="'Test Input 3'" [dark] ='dark'></app-input>
    <app-input [placeholder]="'Test Input 4'" [dark] ='dark'></app-input>
    <app-input [placeholder]="'Test Input 5'" [dark] ='dark'></app-input>
    <app-input [placeholder]="'Test Input 6'" [dark] ='dark'></app-input>


    <app-button [name]="'Random'" [dark]='dark'></app-button>
</div>