div{
    padding: 10px 20px;
    text-align: center;
    border-bottom: 1px solid lightgrey ;
    background-color: whitesmoke;
    max-height: 5vh;
}
h1{
    font-weight: 100;
    font-size: 3vh;
}

.dark{
    background-color: black;
    color: whitesmoke;
    border-bottom: 1px solid grey ;
}