.pages{
    padding: 1vh 1vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 2vh;
    column-gap: 1vw;
    overflow-y: scroll;
    height: 90vh;
    background-color: rgba(0, 0, 0, 0.1);
}
.dark{
    background-color: rgba(0, 0, 0, 0.7);
}

@media (width <= 1080px) {
    .pages{
        flex-direction: column;
        flex-wrap: nowrap;
    }
}